<?xml version="1.0"?>

<configuration>
  <section name="log4net"

      type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  <system.web>
    <compilation debug="false" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="file"/>
    </root>
    <!--<logger name="Log4NetTest.OtherClass">
      <level value="DEBUG"/>
      <appender-ref ref="file"/>
    </logger>-->

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
    </layout>
    
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="log/DFS_Evidence_Log.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>

  </log4net>

</configuration>
